@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  @apply text-white
  bg-[#212121]
  font-poppins w-full h-screen max-h-screen overflow-hidden;
  font-size: 14px;
}


.scrollbar-none::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  height: 0px; /* Height of the scrollbar */
}

/* Custom scrollbar styling */
.scrollbar-custom::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Rounded corners on the thumb */
}

.scrollbar-custom::-webkit-scrollbar-thumb:vertical {
  background-color: #434343; /* Color of the scrollbar thumb */
  margin-left: 20px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:horizontal {
  background-color: #494949; /* Color of the scrollbar thumb */
  /* margin-top: 20px; */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.__json-pretty__ {
  line-height: 1.3;
  color: rgba(248, 248, 242, 1);
  background: #1e1e1e !important;
  /* background: red !important; */
  /* overflow: auto; */
}

.__json-key__ {
  color: rgba(255, 94, 94, 1);
}
.__json-value__ {
  color: rgba(253, 176, 130, 1);
}
.__json-string__ {
  color: rgba(233, 253, 172, 1);
}
.__json-boolean__ {
  color: rgba(102, 153, 204, 1);
}

.__json-pretty-error__ {
  line-height: 1.5;
  font-size: 0.8rem;
  color: rgba(248, 248, 242, 1);
  background: #343434;
  /* background-color: red !important; */
  overflow: auto;
  padding: 0px 40px 10px 40px;
  word-break: break-all !important;
  min-width: 400px;
  /* overflow: hidden; */
  /* overflow-wrap: break-word; */
}

.monaco-editor {
  border-radius: 5px !important;
  overflow: hidden !important;
  /* background-color: yellow !important; */
  /* height: fit-content; */
}

.monaco-scrollable-element {
  min-height: 100%;
  height: fit-content;
}

.editorEdit {
  background-color: #1e1e1e !important;
  border-radius: 5px !important;
  padding-block: 20px !important    ;
  /* touch-action: none !important; */
}

.decorationsOverviewRuler {
  display: none !important;
  /* background-color:; */
}
.slider {
  display: none !important;
}

/* .view-overlays {
    overflow: hidden;
    } */

.container {
  --uib-size: 47px;
  --uib-color: white;
  --uib-speed: 1s;
  --uib-dot-size: calc(var(--uib-size) * 0.18);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: calc(var(--uib-size) * 0.5);
  width: var(--uib-size);
}

.dot {
  flex-shrink: 0;
  width: calc(var(--uib-size) * 0.17);
  height: calc(var(--uib-size) * 0.17);
  border-radius: 50%;
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

.dot:nth-child(1) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
    infinite;
}

.dot:nth-child(2) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
    infinite;
}

.dot:nth-child(3) {
  animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
    infinite;
}

.dot:nth-child(4) {
  animation: jump var(--uib-speed) ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-200%);
  }
}
