/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1e1e1e;
}


/* styles/globals.css */

::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Default color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners for the handle */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2196f3; /* Color of the scrollbar handle on hover */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #1e88e5; /* Color of the scrollbar handle when active */
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* Color of the scrollbar track */
  }
  
  /* For Firefox */
  .scrollbar-custom {
    scrollbar-width: thin; /* Use thin scrollbar */
    scrollbar-color: #4a5568 #1e1e1e; /* thumb color and track color */
  }
  
  /* Hover and active states for Firefox */
  .scrollbar-custom:hover {
    scrollbar-color: #2196f3 #1e1e1e; /* thumb color and track color on hover */
  }
  
  .scrollbar-custom:active {
    scrollbar-color: #1e88e5 #1e1e1e; /* thumb color and track color when active */
  }
  